<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="POST">
        <input type="text" name="currency" />
        <input type="submit" />
        <select name="country_choice">
            <option value="AUD">AUD</option>
            <option value="JPY">JPY</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
        </select>
    </form>
   
    {{message}}{{message2}}
</body>
</html>